
<div class="wrapper">
<div class="list-blog"  >
    <p class="title">Blogs</p>
    <div class="blog" >
        <img
    width="200" 
    alt="smarteo Logo"
    src="assets/img/pic3.jpg"class="login-logo">
        <p>  </p>
        <h2> Outdoor </h2>
        <h3> 4 Ways to Create the Ultimate
            Outdoor Living Space
             </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et. </p>
        
        <div class="action_edit" ><i class="material-icons">create</i></div>
        <div class="action_delete" ><i class="material-icons">delete</i></div>
    </div>


    <div class="blog" >
        <img
    width="200" 
    alt="smarteo Logo"
    src="assets/img/pic2.jpg"class="login-logo">
                <h2> Sofa </h2>
        <h3> 4 Ways to Decorate your Living Room
            with a Brown Sofa
            
             </h3>
        <p> 4 Ways to Decorate your Living Room
            with a Brown Sofa
        </p>
        <div class="action_edit" ><i class="material-icons">create</i></div>
        <div class="action_delete" ><i class="material-icons">delete</i></div>
    </div>

    <div class="blog" >
        
        <img
    width="200" 
    alt="smarteo Logo"
    src="assets/img/pic1.jpg"class="login-logo">
        <p>  </p>
        <h2> Furniture </h2>
        <h3> Spotlight on Bernhardt Modern
            American Furniture
             </h3>
        <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et. </span>
        <div class="action_edit" ><i class="material-icons">create</i></div>
        <div class="action_delete" ><i class="material-icons">delete</i></div>
    </div>

</div>



<div class="prod-form">
 
    
    <button class="btn btn-block btn-blog"> ADD Blog  </button>
</div>


</div>
